body {
  padding : 0.5em;
  width : 90%;
  margin : 0 auto;
  background-image :url();
  background-size : contain;
  background-position : center;
  background-repeat : no-repeat;
  background-attachment : fixed;
  background-size : cover;
}
#header
{ background-color: ; }

  
#nav { background-color: orange; 

 
}

}


  h1 {
    background-color:;
    font-family: "Times New Roman", Times, serif;
}

div {
    background-color:; 
    background-size:; 
}

p {
    background-color:orange;
}
body {
      background-image: url("http://wallpoper.com/images/00/28/43/78/cityscapes-seattle_00284378.jpg")
 }

* {
  font-family: "Times New Roman", Times, serif } 
